/*====Start of Navbar====*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', sans-serif;
}
.Body{
  background-color: black;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky{
    padding: 5px 100px;
    background: #c3a369;
}
header .logo{
    position: relative;
    font-weight: 700;  
    color: #c3a369;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
    padding-left: 30px;

}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #c3a369;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    padding-left: 30px;
}

header.sticky .logo,
header.sticky ul li a h2{
    color: #000;
    padding-left: 30px;
}
#nav-logo{
  max-width: 150px;
  max-height: 150px;
  height: auto;
  width: auto;
  border: 5px solid #c3ac69;
}
/*====End of Navbar===*/
/*====start of background images===*/
article {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  margin: 0px auto;
}
/*====end of background images===*/
/*===Start of Carousel===*/
#demo{
  position: center;
  margin-left: 25%;
  margin-top: 15%;
  justify-content: center;
}
.carousel{
  height: 50%;
  width: 50%;
}
.carousel-item{
 padding-left: 40px;
}
.bd-example{
  display: flex;
 justify-content: center;
 margin-top: 20%;
}
.carousel-item img{
  position: inherit;
}
/*==End of Carousel*/
/*=====start of intro===*/
.intro{
  padding-top: 300px;
  padding-left: 200px;
  color: white;
  font-size: 36px;
}
p {
  color: #fff;
  -webkit-text-stroke-color: #c3ac69;
  -webkit-text-stroke-width: 1px;
}
.intro-title{
  font-size: 48px;
}
/*=====end of intro===*/

/*====Start of Footer===*/

footer {
    background-color: #000;
    color: #ffffff;
    width: 100%;
    height: auto;
    border-top: 3px solid #c3a369;
  }
  
  .column{
      float: right;
      width: 25%;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  footer a {
    color: #fff;
  }
  .font-awesome {
    font-size: 3em;
  }
  .instagram {
    width: 40px;
    height: 30px;
    color: #fff;
    font-size: 40px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  #instagram-logo{
      width: 50px;
      height: 50px;
      border-radius: 10px;
      color: #fff;
      background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
.facebook{
  background: linear-gradient( to bottom, black 0%, black 10%, white 10%, white 93%, black 93%, );
}
  .footer-text {
    font-size: 17px;
}
  .footer-logo{
    height: auto;
    width: auto;
    width: 65%;
    max-height: 200px;  
    float: right;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .responsive{
    max-width: 100%;
    height: auto;
  }
  
      /*   start of recommended drip    */
    .container{
      padding-top: 300px;
      padding-bottom: 20px;
    }

    .container-2{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    
      /*   start of recommended drip    */

  
  /* start of carousel */
    

/* Shop */
.gfg {
  width:auto;
  text-align:center;
  padding:20px;
  max-width: auto;
  width:auto;
  height: auto;
  max-height: 444px;
}

.card-text {
  color: #000;
  font-size: 30px;
}

.card-gfg{
  width:auto;
  text-align:center;
  max-width: auto;
  width:auto;
  height: auto;
  border: 25px solid #c3a369;
  max-height: 444px;
}
.card{
  max-height: 600px;
  min-height: 550px;
  
  
}
.shop button{
  background-color: #c3ac69;
  border: 7px solid #000;
}
a{
color: #000;
}
.brand {
color: #c3ac69;
font-size: 64px;
padding-right: 150px; 
}
/*====End of Footer===*/
/* signup */

.signup{
  padding: 25%;
}
.loginbox{
  width: 320px;
  height: 415px;
  background-color: #c3a369;
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50%,- 50px);
}
.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input::placeholder {
  color: black;
}
.loginbox input[type="text"], input[type="password"], input[type='tel'] {
  border: none;
  border-bottom:1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  font-size:16px;
}
.loginbox input[type="submit"] {
  border:none;
outline: none;
height:40px;
background:#d6249f;
color: #fff;
font-size: 18px;
border-radius: 20px;
}
.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #c3a369;
  color:#000;
}
.loginbox a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color:blue;
}
.loginbox a:hover {
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color:red;
}
/* signup css */
.signupbox{
  width: 415px;
  height: 550px;
  background-color: #c3a369;
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50%,- 50px);
}
.signupbox input {
  width: 100%;
  margin-bottom: 20px;
}
.signupbox input::placeholder {
  color: black;
}
.signupbox input[type="text"], input[type="password"], input[type='tel'] {
  border: none;
  border-bottom:1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  font-size:16px;
}
.signupbox input[type="submit"] {
  border:none;
outline: none;
height:40px;
background:#d6249f;
color: #fff;
font-size: 18px;
border-radius: 20px;
}
.signupbox input[type="submit"]:hover {
  cursor: pointer;
  background: #c3a369;
  color:#000;
}
.signupbox a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color:blue;
}
.singupbox a:hover {
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color:red;
}



/* Start of about */
.caesar{
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
  }
  .caesar-text{
  margin-right: 1%;
  margin-left: 1%;
  font-size: 2.3vh;
  text-size-adjust: 80%;
  }
  input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  }
   
  label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  }
   
  input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  }
   
  .form-container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 20%;
  margin-left: 20%;
  }
   
  .review-form{
    width: 75%;
  }
  .form-input{
    width: 100%;
  }
   .review-text{
     color: #000;
     text-align: center;
     font-size: 50px;
   }
  .review-title{
    text-align: center;
    font-size: 50px;
    color: #000;
  }
  .rate-us{
    color:#000;
    font-size: 30px;
    text-align: center;
  }
  .star-center{
  justify-content: center;
  display: flex;
  }
   
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
   
  @media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  }
    @media screen and (max-width: 650px) {
        .rating{
          --stars: 5;
        --starsize: 2rem;
      }
      }
  /* star rating review */
   
  .rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
  }
  [dir="rtl"] .rating {
    --dir: left;
  }
  .rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
  }
  .rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
  }
  .rating, .rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
  .rating-label {
    margin-block-end: 1rem;
  }
   
  /* NO JS */
  .rating--nojs::-moz-range-track {
    background: var(--fillbg);
  }
  .rating--nojs::-moz-range-progress {
    background: var(--fill);
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
  }
  .rating--nojs::-webkit-slider-runnable-track {
    background: var(--fillbg);
  }
  .rating--nojs::-webkit-slider-thumb {
    background-color: var(--fill);
    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
    opacity: 1;
    width: 1px;
  }
  [dir="rtl"] .rating--nojs::-webkit-slider-thumb {
    box-shadow: var(--w) 0 0 var(--w) var(--fill);
  }
/* end  */
/* End of about */
/* pop up */
.bg-modal {
  background-color: rgba(0, 0, 0, 0.8); 
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  display: none;
  transition: ease-in-out;
  
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: #c3ac69;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
  transition: ease-in-out;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 53px;
	color: black;
	transform: rotate(45deg);
	cursor: pointer;
}

.monkey {
  display: flex;
  justify-content: center;
  padding-top: 25%;
}


/* end of pop up */
@media screen and (max-width: 575px){
  .footer-logo{
    margin-right: 30%;
    margin-right: 14%;
  }
}